.specified-button {
  margin-right: 10px;
}

.input-field.auth-input {
  label {
    color: white;
  }

  input[type=text],
  input[type=password] {
    border-bottom: 1px solid white !important;
    color: white !important;

    &:focus {
      border-bottom: 1px solid white !important;
      box-shadow: 0 1px 0 0 white !important;

      + label {
        color: white !important;
      }
    }
  }
}